.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    
    tbody {
        display: flex;
    }
    
    tr {
        margin: 2px 5px 2px 5px;
    }
}