input[type="text"], input[type="email"], input[type="password"], select, option, textarea, %special-input {
    width: 275px;
    border: 0.5px solid darken($light-color, 20%);
    border-radius: 3px;
    padding: 3px;
    font-family: $font-stack;


}

.table-input {
    @extend %special-input;
    width: 120px;

    @include xs-screen {
        width: 100px;
    }
}

input[type="radio"] {
    margin: 5px;
}

textarea {
    width: 100%;
    padding: 7px;
}

label {
    font-size: small;
    text-align: left;
    margin: 0;
    padding: 0;
}