.landing {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    background-image: url('../assets/images/studying_hume.jpg');
    background-size: cover;
    height: 600px;

    @include md-screen{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }

    @include xs-screen{
        background-image: none;
        background: rgb(11,232,222);
        background: linear-gradient(121deg, rgba(11,232,222,1) 21%, rgba(12,252,133,1) 75%); 
        height: 520px;
    }
}

.hero {
    grid-column: 2 / span 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    background-color: rgba(255, 255, 255, 0.445);
    padding: 10px;
    border-radius: 5px;

    @include md-screen {
      margin: 20px;  
    }
}

.photo-attribution {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.445);
    bottom: 0px;
    right: 0px;
    padding: 5px 20px;

    a {
        padding: 0;
        margin: 0;
        color: black;
    }

    @include xs-screen{
        display: none;
    }
}

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 9 / span 2;
}

.auth div {
    box-shadow: 2px 2px 2px 2px darken($light-color, 50%);
    border-radius: 10px;
    background: $light-color;
}